<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <title>Welcome to Word Games!</title>
</head>
<body>
    <div class="header">
        <h1>Welcome back, {{user_id.first_name}}!</h1>
        <a href="/scoreboard">Scoreboard</a> | <a href="/logout">Logout</a>
        <h4>Your Stats: {{user_id.current_score}</h4>
    </div>
    <div>
        <h2>Hangman</h2>
        <p>Level:</p>
        <p>Difficulty:</p>
        <p>Theme:</p>
        <a class="btn btn-success" href="/hangman">Start New Game</a>
        <form action="/hangman" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="level">Level:</label>
                <input type="text" name="level" id="level" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="difficulty">Difficulty</label>
                <input type="text" name="difficulty" id="difficulty" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="theme">Theme</label>
                <input type="text" name="theme" id="theme" class="form-control" required>
            </div>
            <input type="Submit" name="" id="new_game" value="Start New Game">
        </form>
    </div>
    <div>
        <h2>Word Jumble</h2>
        <p>Level:</p>
        <p>Difficulty:</p>
        <p>Theme:</p>
        <a class="btn btn-success" href="/word_jumble">Start New Game</a>
        <form action="/word_jumble" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="level">Level:</label>
                <input type="text" name="level" id="level" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="difficulty">Difficulty</label>
                <input type="text" name="difficulty" id="difficulty" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="theme">Theme</label>
                <input type="text" name="theme" id="theme" class="form-control" required>
            </div>
            <input type="Submit" name="" id="new_game" value="Start New Game">
        </form>
    </div>
</body>
</html>